body {
  margin: 0;
}

header  {
  background:url("anakin.png") top;
  background-size: cover;
  height: 405px;
  margin: 0;
  border-top-style: solid;
  border-top-color: black;
}
header h2 {
  margin-top: 260px;
  margin-left: 294px;
  margin-bottom: 1px;
  font-family: 'abril fatface';
  font-size: 35px;
  color: #222;
  line-height: 13px;

}
header h1 {
  margin-left: 294px;
  margin-top: 1px;
  font-size: 70px;
  font-family: 'abril fatface';
  color: #222;
}

article {
  font-family: 'Josefin Sans';
  margin: 66px 294px 70px 294px;
  color: #222;
<<<<<<< HEAD
=======
  font-style:
>>>>>>> 52b73926019ab918774e1a7e7369baecfb4f4447
}

article .intraduction {
  font-size: 20px;
  line-height: 35px;
<<<<<<< HEAD
  font-weight: 650;
=======
>>>>>>> 52b73926019ab918774e1a7e7369baecfb4f4447
}
.quotes {
  font-size: 47px;
  font-family: 'abril fatface';
  background-color: rgb(68, 68, 68);
  color: white;
  text-align: center;
  padding: 30px;
  width: 795px;
  margin-right: 245px;
}


.achievements {
  font-size: 18px;
  line-height: 22px;
}
.exp {
  font-size: 18px;
  line-height: 22px;
  color: #222;
}
.exp i {
  font-family: 'Merriweather';
  font-size: 15px;
  line-height: 15px;
}
.training {
  font-size: 18px;
  line-height: 22px;
}
.training p{
  font-style: italic;
  font-family: 'Merriweather';
  font-size: 15px;
  margin-top: 0px;
}
.training h3 {
  margin-bottom: 5px;
}
.personalinterest {
  font-size: 18px;
  line-height: 22px;
}
hr {
  height: 5px;
  background: black;
}
<<<<<<< HEAD
.absforq {
    position: relative;

}
.absforq span{
  position: absolute;
  font-size: 120px;
  color: white;
  font-family: 'abril fatface';
  margin: 0;
=======
.quotes + p {
  font-size: 150px;
>>>>>>> 52b73926019ab918774e1a7e7369baecfb4f4447
}
