* {
  margin: 0;
  padding: 0;
}
body {
  margin: 50px;
  font-family: arial;
  background: #dcd6cd;
}
h1 {
  font-size: 2em;
  font-weight: 400;
}
label span {
  color: crimson;
}
form {
  display: flex;
  flex-direction: column;
  width: 600px;
}
label ,p {
  margin: 5px 0px;
}

.topuntilintra {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.leftsidestuff,.rightsidestuff {
  width: 47%;
}
.lefttitle ,.rigthtitle {
  font-size:1.5em;
  background: #938c97;
  border-radius: 4px;
  padding-left: 10px;
  color: white;
  width: 96.5%;
}
.name,.phone,.email,.fbp,.twp,.kindofflat,.yob {
  display: flex;
  flex-direction: column;
}
.name,.phone,.email,.fbp,.twp,.kindofflat{
  margin: 5px 0px;
}
.name {
  width: 100%;
}
.yobandgender {
  display: flex;
  width: 100%;
}
.yob {
  width: 50%;
}
.gender {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.genderinput {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
}
.genderinput label {
  padding-right: 10px;
}
#yob {
  width: 40%;
  height: 30px;
  border-radius: 4px;
}
#yob,#name,#mail,#phonenum,#fbp,#twp,#kindofflat {
  height: 30px;
  border-radius: 4px;
}
.checkboxlist {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
.checkboxlist p{
  margin:5px 0px;
}
.lists {
  display: flex;
  flex-wrap: wrap;
}
.rightlist {
  padding-left:63px;
}
.rigthlist label , .leftlist label {
  padding-left: 5px;
}
.smaller {
  font-size: 0.8em;
}
.bold {
  font-weight: bold;
}
.bold,.notbold,.smaller {
  color: #4a4261;
}
li {
  padding: 2px 0px;
}
.yccm {
  color: #9f9c98;
  padding-top: 17px;
}
.intraduction {
  width: 100%;
  display: flex;
  flex-direction: column;
}
textarea {
  width: 100%;
  height: 150px;
  border-radius: 4px;
  padding-left: 5px;
  font-size: 1em;
}
.cv {
  margin: 5px 0px 20px 0px;
  display: flex;
  flex-direction: column;
}
.cv button {
  height: 50px;
  width: 30%;
  font-size: 1em;
  -webkit-box-shadow: inset 0px -1px 5px 5px rgba(206,206,206,0.26;
  -moz-box-shadow: inset 0px -1px 5px 5px rgba(206,206,206,0.26);
  box-shadow: inset 0px -1px 5px 5px rgba(206,206,206,0.26);
}
