body {
  margin: 0;

}
p {
  font-size: 30px;
  color:red;
  padding:25px 20px;
  margin: 0;
}
.boxes {
  margin: 5px 48px;
}
.boxes div {
  border-width: 4px;
  border-color: black;
  background-color: yellow;
  border-style: solid;
  width: 240px;
  height: 70px;
  margin: 5px 48px;


}
