* {
  margin: 0;
  padding: 0;

}
article {
  width: 25%;
  font-size: 1.1em;
  margin: 2%;
  border: 4px black;
  border-bottom: solid;
  padding: 2%;
}
.first-duck img {
  float: left;
}
.second-duck img {
  float: right;
}
.textbox {
  position: relative;
}
.window {
  background: white;
  border: solid 1px black;
  border-radius: 15px;
  width: 250px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 125px;
}
.window p{
  padding: 10px;
}
.window hr {
  height: 2px;
  background: black;
}
.ok {
  padding: 0.5px;
  border-radius: 15px;
  background: grey;
  width: 35px;
  height: auto;
  position: absolute;
  right: 95px;
  bottom: 5px;
}
.cancel {
  width: 70px;
  padding: 0.5px;
  background: grey;
  border-radius: 15px;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 15px;
}
.theX{
  color: white;
  background: black;
  border-radius: 30px;
  z-index: 2;
  position: absolute;
  padding: 0;
  right: 15px;
  top: -15px;
}
